<!DOCTYPE HTML>

<html>
	<head>
		<title>An Initiative by MLXTREME</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css"/>

	</head>
	<body>
	<div id="ss">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<header id="header">
									<h1><a href="index.html" id="logo">MLXTREME</a></h1>
									<nav id="nav">
										<a href="index.html" class="current-page-item">Homepage</a>
										<a href="AlreadyFilledForms.html">Already Filled Forms</a>
										<a href="CreatedForms.html">Created Forms </a>
										<a href="CreateAForm.html">Create New Form</a>
										<a href="Fillaform.html">Fill a form</a>
									</nav>
								</header>

							</div>
						</div>
					</div>
				</div>

			<!-- Banner -->
				<div id="banner-wrapper">
					<div class="container">
						<div id="banner">
							<h2>Smart Exam Forms</h2>
							<span>A Smarter of Forms Version with Autograder</span>
							<span>Welcome to the world of Smart Forms, <br>
								we at MLXTREME plan for a better use of Forms to enhance<br>
								processing time and improve usability of forms.</span>
							<span>◘ Automated Processing <br>
								◘ Saves Time by removing Manualization<br>
								◘ Lightning Fast Scores in Browser</span>
						</div>

					</div>
				</div>

			<!-- Main -->
				
					
					
						 
								
								


			<!-- Footer -->
			
			
					
						
							

								
									
								

							

								

						

	</div>
				

		
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
	</div>		<script src="assets/js/main.js"></script>

	</body>
</html>