<html>
<head>
<title>Login Form Design</title>
<body>
    <div class="loginbox">
       <center><p>Smart G-forms:</p></center>
        <h1>Login Here</h1>
        <form>
            <p>Input Text</p>
            <input type="text" name="" placeholder="">
            <p>Score</p>
            <input type="text" name="" placeholder="">

            <a href="/retrainsuccess.html">
            <input type="submit" name="" value="Retrain"></a>
            
        </form>
        
    </div>

</body>
<style>
    body{
        margin: 0;
        padding: 0;
    background: linear-gradient(0deg, rgba(34,193,195,1) 27%, rgba(253,187,45,1) 94%);
    
        background-size: cover;
        background-position: center;
        font-family: sans-serif;
    }
    
    .loginbox{
        width: 320px;
        height: 420px;
        background:white;
        color:white;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 70px 30px;
    }
    
    
    
    h1{
        margin: 0;
        padding: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    
    .loginbox p{
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: black;
    }
    
    .loginbox input{
        width: 100%;
        margin-bottom: 20px;
        
    }
    
    .loginbox input[type="text"], input[type="password"]
    {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color:black;
        font-size: 16px;
    }
    .loginbox input[type="submit"]
    {
        border: none;
        outline: none;
        height: 40px;
        background: #fb2525;
        color:white;
        font-size: 18px;
        border-radius: 20px;
    }
    .loginbox input[type="submit"]:hover
    {
        cursor: pointer;
        background: #ffc107;
        color: #000;
    }
    .loginbox a{
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        color: darkgrey;
    }
    
    .loginbox a:hover
    {
        color: #ffc107;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</atyle>
</head>
</html>
